.droppable-wrapper{
  width: 100%;
  border: 1px solid;
  overflow-y: scroll;
  background-image: linear-gradient(to right, rgb(217, 226, 233) 1px, transparent 1px), linear-gradient(rgb(217, 226, 233) 1px, transparent 1px);
  background-size: 20px 20px;
  background-color: rgb(237, 242, 246);
}

.droppable-element{
  width: 100%;
  display: flex;
}

.help-text{
  display: grid;
  justify-content: center;
  opacity: 0.3;
}