body {
  background: rgb(245, 245, 245);
  font-family: Alegreya, serif;
}

* {
   box-sizing: border-box;
}

button{
  padding: 10px;
  width: 12.5em;
  background: transparent;
  box-shadow: 3px 3px 5px 3px #ccc;
  font-weight: bold;
  border-radius: 5px;
}

input {
    border-radius: 5px;
    padding: 10px;
    width: 18.7em;
    font-size: 18px;
    box-shadow: 3px 3px 5px 3px #ccc;
}

textarea{
    padding: 10px;
    border-radius: 5px;
    width: 18.7em;
    height: 6.2em;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 3px 3px 5px 3px #ccc;
}

