body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(245, 245, 245);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

button{
  padding: 10px;
  width: 12.5em;
  background: transparent;
  box-shadow: 3px 3px 5px 3px #ccc;
  font-weight: bold;
  border-radius: 5px;
}

input {
    border-radius: 5px;
    padding: 10px;
    width: 18.7em;
    font-size: 18px;
    box-shadow: 3px 3px 5px 3px #ccc;
}

textarea{
    padding: 10px;
    border-radius: 5px;
    width: 18.7em;
    height: 6.2em;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 3px 3px 5px 3px #ccc;
}

.box{
    border: 1px solid;
    width: 100%;
    padding: 10px;
}